/*.tbd-foreground{
    color: #c1cbc6;
}   

.tbd-01 {
    background: #181a19
}

.tbd-02 {
    background: #212322;
}

.tbd-03 {
    background: #313432;
}

.tbd-04 {
    background: #474c49;
}

.tbd-05 {
    background: #646967;
}

.tbd-06 {
    background: #868d89;
}

.tbd-07 {
    background: #adb6b1;
}

.tbd-08 {
    background: #dae5e0;
}

.tbd-09 {
    color: #cf7c47;
}

.tbd-10 {
    color: #33b587;
}

.tbd-11 {
    color: #e48647;
}

.tbd-12 {
    color: #56ca9d;
}

.tbd-13 {
    color: #f856bf;
}

.tbd-14 {
    color: #b9a8fa;
}

.tbd-15 {
    color: #34b889;
}

.tbd-16 {
    color: #a190e0;
} */

.tbd-none {
    display:none;
}

.tbd-01 {
    background: #1d1916;

}
.tbd-02{
    background: #27211e;
}

.tbd-03 {
    background: #39322e;
}

.tbd-04 {
    background: #524943;
}

.tbd-05 {
    background: #72665e;
}

.tbd-06 {
    background: #98887e;
}

.tbd-07 {
    background: #c5b0a3;
}

.tbd-08 {
    background: #e8e1dd;
}

.tbd-9 {
    color: #42c5a4;
}

.tbd-10 {
    color: #c58950;
}

.tbd-11 {
    color: #f381b6;
}

.tbd-12 {
    color: #40ceab;
}

.tbd-13 {
    color: #e68eb5;
}

.tbd-14 {
    color: #b972fb;
}

.tbd-15 {
    color: #5cbca1;
}

.tbd-16 {
    color: #cfa8fc;
}


.tbd-foreground {
    color: #d4c7be;
}
